<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Django Email Form</title>
  </head>
  <body>
    <h1>Django Email Form</h1>
    
    <!-- email contact form start -->

    <form action="#" method="post">
        <div class="form-group">
        {% if submitted %}
        <h1>Message Successfully Sent</h1>
        {% else %}
        <form action="" method="post" name="email-form">
        {% csrf_token %%}
        {{ form.as_p }}
        <button type="submit" class="btn btn-send">Send Message</button>
        </form>
        {% endif %}
        </div>
    </form>

    <!-- email contact form end -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>